html {
    background: black;
}

.title {
    text-transform: uppercase;
}

img {
    border: 5px solid white;
    width: 100%;
}

div {
    font-family: 'Libre Baskerville', sans-serif;
    width: 50%;
    margin-left: 25%;
    margin-top: 40px;
    text-align: center;
    color: white;
}